pipeline/PL_AZURE_LOGICAPPS_INVOKE.json
{
	"name": "PL_AZURE_LOGICAPPS_INVOKE",
	"properties": {
		"activities": [
			{
				"name": "triggerLogicApps",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-05.centralus.logic.azure.com:443/workflows/4ae27e73e5c84027a5e58a3c338dec61/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZQqzV-cyAnfY0nzZiEW_VC5qddiz3k2ZOTUL7DCxaA4",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"filename": "balan.csv",
						"filepath": "ADFTraining"
					}
				}
			},
			{
				"name": "rawMetadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "triggerLogicApps",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_DEMO",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "forEachRawFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "rawMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('rawMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_DEMO_NEW",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DEMO_LANDING_AREA",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Momentive"
		},
		"annotations": []
	}
}