pipeline/PL_LOAD_DELTA.json
{
	"name": "PL_LOAD_DELTA",
	"properties": {
		"activities": [
			{
				"name": "GET_CFG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * from @{pipeline().parameters.ConfigTable}\nIF @@ROWCOUNT = 0 THROW 50000,'No rows in configuration table!',1"
					},
					"dataset": {
						"referenceName": "DS_ASQL_TGT_PARAMETERIZED",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "dummy"
						}
					}
				}
			},
			{
				"name": "SQL_CFG",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_CFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SRC_name,'ORA')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PG_CFG",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_CFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SRC_name,'PG')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FOR_EACH_SQL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SQL_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('sql_CFG').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GET_MAX_SQL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT MAX(@{item().WatermarkColumn}) as maxd FROM @{item().SRC_tab}"
								},
								"dataset": {
									"referenceName": "DS_ONPREM_SQLSERVER",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "COPY SQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GET_MAX_SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ONPREM_SQLSERVER",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "FOR_EACH_PG",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "PG_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('PG_CFG').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ConfigTable": {
				"type": "string",
				"defaultValue": "dbo.config"
			}
		},
		"folder": {
			"name": "Momentive"
		},
		"annotations": []
	}
}