pipeline/PL_MOMENTIVE_CATEGORIZE_FILES.json
{
	"name": "PL_MOMENTIVE_CATEGORIZE_FILES",
	"properties": {
		"description": "This pipeline is for connecting to the momentive source raw files (prod_raw_area) and split the source files according to the pattern we define into the prod_staging_area",
		"activities": [
			{
				"name": "rawMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_MOMENTIVE_RAW_SOURCE",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "forEachRawFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "rawMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('rawMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyPatternFiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_NEW_SOURCE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_MOMENTIVE_REQUIRED_AREA",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Momentive"
		},
		"annotations": []
	}
}