azdevazuredatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "azdevazuredatafactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"LS_ABLB_TRANSACTIONS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ABLB_TRANSACTIONS'"
		},
		"LS_ADB_CON_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_ADB_CON'"
		},
		"ds_json_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Customer.json"
		},
		"ds_json_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "publicrestapi/sample"
		},
		"DS_ABLB_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Transaction.json"
		},
		"DS_ABLB_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "publicrestapi/sample"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copyBlobData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "customerID",
											"type": "Int64"
										},
										"sink": {
											"name": "customerID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "Boolean"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "deleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "marketViaEmail",
											"type": "Boolean"
										},
										"sink": {
											"name": "marketViaEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "marketViaMail",
											"type": "Boolean"
										},
										"sink": {
											"name": "marketViaMail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "doNotRentEmail",
											"type": "Boolean"
										},
										"sink": {
											"name": "doNotRentEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "doNotRentMail",
											"type": "Boolean"
										},
										"sink": {
											"name": "doNotRentMail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "firstVisit",
											"type": "String"
										},
										"sink": {
											"name": "firstVisit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "lastVisit",
											"type": "String"
										},
										"sink": {
											"name": "lastVisit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "group",
											"type": "String"
										},
										"sink": {
											"name": "group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "prefix",
											"type": "String"
										},
										"sink": {
											"name": "prefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "firstName",
											"type": "String"
										},
										"sink": {
											"name": "firstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "lastName",
											"type": "String"
										},
										"sink": {
											"name": "lastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gender",
											"type": "String"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "birthMonth",
											"type": "String"
										},
										"sink": {
											"name": "birthMonth",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "birthDay",
											"type": "String"
										},
										"sink": {
											"name": "birthDay",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "address",
											"type": "String"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "postalCode",
											"type": "String"
										},
										"sink": {
											"name": "postalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String"
										},
										"sink": {
											"name": "country",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workphone",
											"type": "String"
										},
										"sink": {
											"name": "workphone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "homephone",
											"type": "String"
										},
										"sink": {
											"name": "homephone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mobilephone",
											"type": "String"
										},
										"sink": {
											"name": "mobilephone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "extCustomerId",
											"type": "String"
										},
										"sink": {
											"name": "extCustomerId",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "json_Parsed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_json')]",
				"[concat(variables('factoryId'), '/datasets/json_Parsed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "customerID",
						"type": "Int64"
					},
					{
						"name": "status",
						"type": "Boolean"
					},
					{
						"name": "deleted",
						"type": "Boolean"
					},
					{
						"name": "marketViaEmail",
						"type": "Boolean"
					},
					{
						"name": "marketViaMail",
						"type": "Boolean"
					},
					{
						"name": "doNotRentEmail",
						"type": "Boolean"
					},
					{
						"name": "doNotRentMail",
						"type": "Boolean"
					},
					{
						"name": "firstVisit",
						"type": "String"
					},
					{
						"name": "lastVisit",
						"type": "String"
					},
					{
						"name": "group",
						"type": "String"
					},
					{
						"name": "prefix",
						"type": "String"
					},
					{
						"name": "firstName",
						"type": "String"
					},
					{
						"name": "lastName",
						"type": "String"
					},
					{
						"name": "gender",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "postalCode",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "workphone",
						"type": "String"
					},
					{
						"name": "homephone",
						"type": "String"
					},
					{
						"name": "mobilephone",
						"type": "String"
					},
					{
						"name": "extCustomerId",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"customerID": "$.['customerID']",
							"status": "$.['status']",
							"deleted": "$.['deleted']",
							"marketViaEmail": "$.['marketViaEmail']",
							"marketViaMail": "$.['marketViaMail']",
							"doNotRentEmail": "$.['doNotRentEmail']",
							"doNotRentMail": "$.['doNotRentMail']",
							"firstVisit": "$.['firstVisit']",
							"lastVisit": "$.['lastVisit']",
							"group": "$.['group']",
							"prefix": "$.['prefix']",
							"firstName": "$.['firstName']",
							"lastName": "$.['lastName']",
							"gender": "$.['gender']",
							"birthMonth": "$.['birthMonth']",
							"birthDay": "$.['birthDay']",
							"address": "$.['address']",
							"city": "$.['city']",
							"state": "$.['state']",
							"postalCode": "$.['postalCode']",
							"country": "$.['country']",
							"email": "$.['email']",
							"workphone": "$.['workphone']",
							"homephone": "$.['homephone']",
							"mobilephone": "$.['mobilephone']",
							"extCustomerId": "$.['extCustomerId']"
						}
					},
					"fileName": "[parameters('ds_json_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('ds_json_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/json_Parsed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Customer.csv",
						"folderPath": "sample",
						"container": "publicrestapi"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customerID",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "deleted",
						"type": "String"
					},
					{
						"name": "marketViaEmail",
						"type": "String"
					},
					{
						"name": "marketViaMail",
						"type": "String"
					},
					{
						"name": "doNotRentEmail",
						"type": "String"
					},
					{
						"name": "doNotRentMail",
						"type": "String"
					},
					{
						"name": "firstVisit",
						"type": "String"
					},
					{
						"name": "lastVisit",
						"type": "String"
					},
					{
						"name": "group",
						"type": "String"
					},
					{
						"name": "prefix",
						"type": "String"
					},
					{
						"name": "firstName",
						"type": "String"
					},
					{
						"name": "lastName",
						"type": "String"
					},
					{
						"name": "gender",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "postalCode",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "workphone",
						"type": "String"
					},
					{
						"name": "homephone",
						"type": "String"
					},
					{
						"name": "mobilephone",
						"type": "String"
					},
					{
						"name": "extCustomerId",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyLogProcessingTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"DailyLogTrigger"
				],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 60,
					"startTime": "2019-08-13T09:44:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WeeklyTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2019-08-13T09:48:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "DailyLogProcessingTrigger",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/triggers/DailyLogProcessingTrigger')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PROCESS_TRANSACTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline is for extracting Nested JSON data from Azure Blob Storage for Data Cleansing.",
				"activities": [
					{
						"name": "ACT_COPYFROM_BLOB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "transaction_id",
											"type": "Int64"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location_id",
											"type": "Int64"
										},
										"sink": {
											"name": "location_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "transaction_type",
											"type": "String"
										},
										"sink": {
											"name": "transaction_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "customer_id",
											"type": "Int64"
										},
										"sink": {
											"name": "customer_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "transaction_line_id"
										},
										"sink": {
											"name": "transaction_line_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provider_id"
										},
										"sink": {
											"name": "provider_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provider_name",
											"type": "String"
										},
										"sink": {
											"name": "provider_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sku",
											"type": "String"
										},
										"sink": {
											"name": "sku",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "product_class"
										},
										"sink": {
											"name": "produt_class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "product_subclass",
											"type": "String"
										},
										"sink": {
											"name": "product_subclass",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sold_price",
											"type": "Double"
										},
										"sink": {
											"name": "sold_price",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ABLB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_TRANSACTION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ACT_ADB_CLEANSING",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ACT_COPYFROM_BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/681790@cognizant.com/Transactions"
						},
						"linkedServiceName": {
							"referenceName": "LS_ADB_CON",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ABLB')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_TRANSACTION')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB_CON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source Data Set to Access it from Azure Blob Storage.",
				"linkedServiceName": {
					"referenceName": "LS_ABLB_TRANSACTIONS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "transaction_id",
						"type": "Int64"
					},
					{
						"name": "location_id",
						"type": "Int64"
					},
					{
						"name": "transaction_type",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "Int64"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "appointments",
						"type": "String"
					},
					{
						"name": "tenders",
						"type": "String"
					},
					{
						"name": "lines",
						"type": "String"
					},
					{
						"name": "transaction_line_id",
						"type": "Int64"
					},
					{
						"name": "provider_id",
						"type": "Int64"
					},
					{
						"name": "provider_name",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "sku",
						"type": "String"
					},
					{
						"name": "product_class",
						"type": "String"
					},
					{
						"name": "product_subclass",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "sold_price",
						"type": "Double"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonNodeReference": "$.['lines']",
						"jsonPathDefinition": {
							"transaction_id": "$.['transaction_id']",
							"location_id": "$.['location_id']",
							"transaction_type": "$.['transaction_type']",
							"customer_id": "$.['customer_id']",
							"date": "$.['date']",
							"currency": "$.['currency']",
							"appointments": "$.['appointments']",
							"tenders": "$.['tenders']",
							"lines": "$.['lines']",
							"transaction_line_id": "[['transaction_line_id']",
							"provider_id": "[['provider_id']",
							"provider_name": "[['provider_name']",
							"type": "[['type']",
							"sku": "[['sku']",
							"product_class": "[['product_class']",
							"product_subclass": "[['product_subclass']",
							"description": "[['description']",
							"sold_price": "[['sold_price']"
						}
					},
					"fileName": "[parameters('DS_ABLB_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_ABLB_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_TRANSACTIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ABLB_TRANSACTIONS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for connecting to azure blob storage to get transaction json data",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_ABLB_TRANSACTIONS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_TRANSACTION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABLB_TRANSACTIONS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Transactions.csv",
						"folderPath": "sample",
						"container": "publicrestapi"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_TRANSACTIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADB_CON')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for connecting to Azure Databricks",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://centralus.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_ADB_CON_accessToken')]"
					},
					"existingClusterId": "0812-105814-earls760"
				}
			},
			"dependsOn": []
		}
	]
}